body {
	background-color: #F3F3F3;
}

a:link {
    color: #FFF;
    text-decoration: none;
}

a:visited {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #FFF;
	text-decoration: none;
}

a:active {
	color: #FFF;
	text-decoration: none;
}

.navbar-nav > li > a:link {
	background-color: #333;
}

.navbar-nav > li > a:hover {
	background-color: #666;
}

.activePage a {
	color: #736F66 !important;
	background-color: #F3F3F3 !important;
}

.navbar-nav>li {
      float: none;
}

.navbar-logo {
    padding-top: 14px !important;
    padding-bottom: 16px !important;
	font-size: 18px;
}

.menu-item {
	margin: 0;
	padding: 0;
 	background: #999;
  	width: 175px;
  	line-height: 3;
}

.title-list {
	margin: 0;
	background: #333;
	padding-left: 12px;
}

.list-catg {
	margin: 0px;
  	padding: 0px;
  	height: 0px;
  	list-style-type: none;
  	overflow: hidden;
  	-webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.menu-item:hover .list-catg {
  height: 126px;
}

.list-catg a {
	margin-left: 12px;
	display: block;
}

.list-catg li:hover {
  background: #666;
}

.prod-row {
	width: 125px;
	height: 175px;
	padding: 0;
	margin: 10px 15px;
}

.prod {
	width: 125px;
	height: 175px;
	padding: 15px 10px;
	text-align: center;
	background: #666;
	color: #FFF;
}

footer {
	background: #333;
	color: #FFF;
}

#footer-title {
	text-align: center;
}

.footer-col {
	text-align: center;
	display:inline-block;
}

.heading-col {
	display: inline-table;
    padding-left: 15px;
}