.navbar-nav a:link {
	background-color: #333;
}

.navbar-nav a:visited {
	background-color: #333;
}

.navbar-nav a:hover {
	background-color: #999;
	background-image: none;
}

.navbar-nav a:active {
	background-color: #999;
	background-image: none;
}

a:link {
    color: #FFF;
    text-decoration: none;
}

a:visited {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #FFF;
	text-decoration: none;
}

a:active {
	color: #FFF;
	text-decoration: none;
}

.navbar-nav>li {
      float: none;
}

.menu-item {
	margin: 0;
	padding: 0;
 	background: #999;
  	width: 175px;
  	line-height: 3;
}

.title-list {
	margin: 0;
	background: #333;
	padding-left: 12px;
}

.list-catg {
	margin: 0px;
  	padding: 0px;
  	height: 0px;
  	list-style-type: none;
  	overflow: hidden;
  	-webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.menu-item:hover .list-catg {
  height: 126px;
}

.list-catg a {
	margin-left: 12px;
	display: block;
}

.list-catg li:hover {
  background: #666;
}

footer {
	background: #333;
	color: #FFF;
}

#footer-title {
	text-align: center;
}

.footer-col {
	text-align: center;
	display:inline-block;
}

.heading-col {
	display: inline-table;
    padding-left: 15px;
}